.header1{
    background-color: #114060c2;
    color: white;
    text-align: center;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 10rem;
    z-index: 1000;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  }
  .infoHeader1 {
    background-color: rgb(159, 197, 210);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
  
    .menu{
      width:60%;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      
    }
  
  }